@model Proyecto.Models.ConsultaViewModel

<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <script></script>
</head>
<body>
    <section id="One" class="wrapper style3">
        <div class="inner">
            <header class="align-center">
                <p>El progreso</p>
                <h2>Responder </h2>
            </header>
        </div>
    </section>
    <section id="two" class="wrapper style2">
        <div class="inner">
            <div class="box">
                <div class="content">
                    <h3>
                        Responder a la consulta
                    </h3>
                    <!--Comentar noticia-->
                    @using (Html.BeginForm("responder", "consulta", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", @id = "contact_form" }))
                    {
                        <fieldset>
                            <class>
                                @Html.HiddenFor(model => model.id)
                                <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        @Html.TextBox("nombre", ViewBag.nombre as string, htmlAttributes: new { @class = "form-control", @style = "", @required = "required;", @placeholder = "Nombre", @type = "text" })
                                    </div><br />
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-comment"></i></span>
                                        @Html.TextArea("Comentario", ViewBag.Comentario as string, htmlAttributes: new { @class = "form-control", @style = "height:150px; resize:none;", @required = "required;", @placeholder = "Comentario", @type = "text" })
                                    </div><br />
                                    <div class="input-group">
                                        <button name="adduser" type="submit" class="btn btn-warning btn-block" id="contact-submit" style="background-color:#80808042; border-color:#80808042;">Comentar</button>
                                    </div>
                                </div>
                        </fieldset>
                    }
                    @Html.ActionLink("Regresar", "consulta")
                </div>              
            </div>
        </div>
    </section>
</body>
