

<!DOCTYPE HTML>
<html>
<head>
    <title>Hielo by TEMPLATED</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/main.css" rel="stylesheet" />
    
</head>
<body>

    <section id="One" class="wrapper style3">
        <div class="inner">
            <header class="align-center">
                <p>Aqui puedes aclarar o responder consultas</p>
                <h2>Foro indicadores</h2>
            </header>
        </div>
    </section>

    <section id="two" class="wrapper style2">
        <div class="inner">
            <div class="box">
                <div class="content">
                    <p>
                        <h2>
                            Aqui va la consulta
                        </h2>
                    </p>
                    <p>
                        <h3>
                            Nombre de quien consulta
                        </h3>
                    </p>
                    <p>
                        <h3>
                            Responder a la consulta
                        </h3>
                    </p>
                    <!--Comentar noticia-->
                    @using (Html.BeginForm("comentar", "consulta", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", @id = "contact_form" }))
                    {
                            <fieldset>
                                <class>
                                    <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                            @Html.TextBox("nombre", ViewBag.nombre as string, htmlAttributes: new { @class = "form-control", @style = "", @required = "required;", @placeholder = "Nombre", @type = "text" })
                                        </div><br />
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-comment"></i></span>
                                            @Html.TextArea("Comentario", ViewBag.Comentario as string, htmlAttributes: new { @class = "form-control", @style = "height:150px; resize:none;", @required = "required;", @placeholder = "Comentario", @type = "text" })
                                        </div><br />
                                        <div class="input-group">
                                            <button name="adduser" type="submit" class="btn btn-warning btn-block" id="contact-submit" style="background-color:#80808042; border-color:#80808042;">Comentar</button>
                                        </div>
                                    </div>
                            </fieldset>
                    }
                    </div>
                <hr />
            </div>
        </div>
    </section>
    <section id="two" class="wrapper style2">
        <div class="inner">
            <div class="box">
                <div class="content">
                    <p>
                        <h2>
                            Realizar una consulta
                        </h2>
                    </p>
                    <!--Publicar oticia-->
                    @using (Html.BeginForm("publicar", "consulta", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", @id = "contact_form" }))
                    {
                        <fieldset>
                            <class>
                                <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        @Html.TextBox("nombre", ViewBag.nombre as string, htmlAttributes: new { @class = "form-control", @style = "", @required = "required;", @placeholder = "Nombre", @type = "text" })
                                    </div><br />
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-comment"></i></span>
                                        @Html.TextArea("Comentario", ViewBag.publicar as string, htmlAttributes: new { @class = "form-control", @style = "height:150px; resize:none;", @required = "required;", @placeholder = "Nueva consulta", @type = "text" })
                                    </div><br />
                                    <div class="input-group">
                                        <button name="adduser" type="submit" class="btn btn-warning btn-block" id="contact-submit" style="background-color:#80808042; border-color:#80808042;">Publicar</button>
                                    </div>
                                </div>
                        </fieldset>
                    }
                </div>
                <hr />
            </div>
        </div>
    </section>

</body>
<!-- Scripts -->
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.scrollex.min.js"></script>
<script src="~/Scripts/skel.min.js"></script>
<script src="~/Scripts/util.js"></script>
<script src="~/Scripts/main.js"></script>
</html>