
<!DOCTYPE HTML>
<html>
<head>
    <title>Hielo by TEMPLATED</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/main.css" rel="stylesheet" />
</head>
<body>

    <section id="One" class="wrapper style3">
        <div class="inner">
            <header class="align-center">
                <p>Información relevante</p>
                <h2>Tasa Básica Pasiva</h2>
            </header>
        </div>
    </section>

    <section id="two" class="wrapper style2">
        <div class="inner">
            <div class="box">
                <div class="content">
                    <p>
                        <h3>
                            Es un indicador de referencia calculada por el banco central de Costa Rica que estima, en promedio, la tasa que pagan los
                            bancos públicos y privados en el país y las entidades financieras por los depósitos o ahorros en colones.
                            También es utilizada por los bancos y otras entidades financieras para fijar las tasas que cobran por sus préstamos,
                            principalmente los de vivienda.
                        </h3>
                    </p>
                    <p>
                        <h3>
                            <ul>
                                <li>
                                    La Tasa Básica Pasiva se calculará el día miércoles de cada semana o el día hábil inmediato anterior en caso de ser
                                    éste un día no hábil.
                                </li>
                                <li>
                                    La Tasa Básica Pasiva se calculará con la información de las tasas de interés brutas negociadas para cada una de las
                                    operaciones de captación, a los plazos estipulados en el literal A, durante la semana anterior al cálculo (de miércoles a martes),
                                    por los intermediarios financieros incluidos en una muestra determinada por la División Económica del Banco Central.
                                </li>
                                <li>
                                    Promedio por entidad: Se calculará el promedio simple de las tasas de interés para cada entidad financiera, se excluirán
                                    aquellos valores que muestren diferencias de al menos dos desviaciones estándar con respecto a ese promedio.
                                </li>
                                <li>
                                    Promedio por grupo de intermediarios financieros: Corresponde al promedio simple de las tasas de interés de las entidades que
                                    constituyen cada grupo de intermediarios financieros.
                                </li>
                                <li>
                                    Las tasas incluidas en el cálculo son las correspondientes a las captaciones a plazos entre 150 y 210 días durante la semana de
                                    referencia definida en el ordinal ii anterior.
                                </li>
                                <li>
                                    Todas las tasas incluidas en los cálculos se expresarán en términos brutos (sin excluir el impuesto sobre la renta), sobre un
                                    factor de 360 días y corresponderán a instrumentos de captación a plazo en colones.
                                </li>
                                <li>
                                    Se empleará como ponderador de la tasa de interés resultante de cada grupo captador, el promedio móvil de los últimos seis meses
                                    del saldo de la captación en colones a plazo del respectivo grupo, a partir de la información de las cuentas monetarias.
                                </li>
                                <li>
                                    Para el cálculo se tomará una muestra de intermediarios financieros supervisados por la Superintendencia General de Entidades Financieras
                                    (SUGEF), cuyas captaciones en conjunto sumen al menos el 95% del saldo promedio de los últimos 6 meses, de la captación en colones a plazo
                                    (definido en las cuentas monetarias) de las OSD. Esta muestra deberá ser revisada, como mínimo, en febrero de cada año.
                                </li>
                                <li>
                                    En caso de que algún intermediario incluido en la muestra deje de operar, el cálculo de la Tasa Básica Pasiva se realizará con
                                    la información de los intermediarios financieros autorizados a funcionar, hasta que se sustituya por otro intermediario que permita
                                    cumplir con lo estipulado en el ordinal anterior.
                                </li>
                                <li>
                                    La tasa resultante se redondeará al veinteavo del punto porcentual más cercano, se divulgará el día en que el Banco Central realiza
                                    el cálculo y regirá a partir del día jueves de esa semana.
                                </li>
                            </ul>
                        </h3>
                    </p>
                    <p>
                        <h3>
                            La tasa pública se publica el día miércoles de cada semana y rige desde el jueves siguientes y durante los siete días posteriores.
                        </h3>
                    </p>
                    <h2>D. Gráfico lineal con el comportamiento histórico de los últimos 2 años</h2>
                    <div id="GraficaLineal" style="width: 1000px !important; height: 500px !important;">

                    </div>
                    <h3>
                        Cuando una persona quiere ahorrar, debe fijarse cuánto está pagando cada banco, para definir cuál conviene.
                        Si una persona desea ahorrar o invertir, debe fijarse si el banco está pagando un porcentaje mayor o menor a la top,
                        para valorar si realmente lo que la entidad ofrece es competitivo o no con el mercado.
                    </h3>
                    <p>

                </p>
            </div>
        </div>
    </div>
</section>

</body>
<!-- Scripts -->
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.scrollex.min.js"></script>
<script src="~/Scripts/skel.min.js"></script>
<script src="~/Scripts/util.js"></script>
<script src="~/Scripts/main.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

function drawChart() {
    var i = 0;
    var fecha = @Html.Raw(Json.Encode(@ViewBag.FechaInicio));
    var valor = @Html.Raw(Json.Encode(@ViewBag.Valor));
    var fechavista = [];
    var valorvista = [];

    for (i = 0; i < fecha.length; i++)
    {
        fechavista[i] = fecha[i];
    }

    for (i = 0; i < valor.length; i++)
    {
        valorvista[i] = valor[i];
    }

    var data = google.visualization.arrayToDataTable([
        ['Año', 'Valor'],
        [fechavista,  4]
    ]);

    var options = {
        title: 'Company Performance',
        curveType: 'function',
        legend: { position: 'bottom' }
    };

    var chart = new google.visualization.LineChart(document.getElementById('GraficaLineal'));

    chart.draw(data, options);
}
</html>
