
<!DOCTYPE HTML>
<html>
<head>
    <title>Hielo by TEMPLATED</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/main.css" rel="stylesheet" />
</head>
<body>

    <section id="One" class="wrapper style3">
        <div class="inner">
            <header class="align-center">
                <p>Información relevante</p>
                <h2>Tasa de Política Monetaria</h2>
            </header>
        </div>
    </section>

    <section id="two" class="wrapper style2">
        <div class="inner">
            <div class="box">
                <div class="content">
                    <p>
                        <h3>
                            La política monetaria es un área de la política económica, encargada a los bancos centrales, que tiene como propósito
                            influenciar las variables monetarias y financieras para lograr objetivos específicos, que en el caso costarricense,
                            se circunscriben a una inflación baja y estable.  
                            La inflación baja y estable contribuye a preservar el poder de compra de los salarios e ingresos de los habitantes del
                            país y facilita la toma de decisiones, favoreciendo el ahorro y la inversión y, en última instancia, el crecimiento económico. 

                        </h3>
                    </p>

                    <h2>B. Fórmula de cálculo del indicador</h2>
                    <p></p>
                    <h2>C. Periodicidad de cálculo del indicador</h2>
                    <p></p>
                    <p>
                        <h3>
                            Gráfico lineal con el comportamiento histórico de los últimos 2 años
                        </h3>
                    </p>

                    <div id="GraficaLineal" style="width: 1000px !important; height: 500px !important;">

                    </div>

                    <p>
                        <h3>
                            Si la tasa política monetaria sube, los intermediarios trasladarán ese costo a los consumidores cuando pidan crédito.
                            En buena teoría, al ver tasas más altas, las personas desistirían de pedir financiamiento y así se redice el dinero circulante
                            y por ende la inflación.
                        </h3>
                    </p>
                </div>
            </div>
        </div>
    </section>

</body>
<!-- Scripts -->
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.scrollex.min.js"></script>
<script src="~/Scripts/skel.min.js"></script>
<script src="~/Scripts/util.js"></script>
<script src="~/Scripts/main.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

function drawChart() {
    var i = 0;
    var fecha = @Html.Raw(Json.Encode(@ViewBag.FechaInicio));
    var valor = @Html.Raw(Json.Encode(@ViewBag.Valor));
    var fechavista = [];
    var valorvista = [];

    try {

        for (i = 0; i < fecha.length; i++)
    {
        fechavista = fecha[i];
        valorvista = valor[i];
    }

    var data = google.visualization.arrayToDataTable([
        ['Año', 'Valor'],
        [fechavista,  valorvista]
    ]);

    var options = {
        title: 'Company Performance',
        curveType: 'function',
        legend: { position: 'bottom' }
    };

    var chart = new google.visualization.LineChart(document.getElementById('GraficaLineal'));

    chart.draw(data, options);
    

    } catch (e) {
        logMyErrors(e);
    }
}

</script>
</html>
