
<!DOCTYPE HTML>
<html>
<head>
    <title>Hielo by TEMPLATED</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/main.css" rel="stylesheet" />
</head>
<body>

    <section id="One" class="wrapper style3">
        <div class="inner">
            <header class="align-center">
                <p>Información relevante</p>
                <h2>Tasa de Política Monetaria</h2>
            </header>
        </div>
    </section>

    <section id="two" class="wrapper style2">
        <div class="inner">
            <div class="box">
                <div class="content">
                    <h2>A. Descripción del indicador</h2>
                    <p>
                        La política monetaria es un área de la política económica, encargada a los bancos centrales, que tiene como propósito 
                        influenciar las variables monetarias y financieras para lograr objetivos específicos, que en el caso costarricense, 
                        se circunscriben a una inflación baja y estable.  
                        La inflación baja y estable contribuye a preservar el poder de compra de los salarios e ingresos de los habitantes del 
                        país y facilita la toma de decisiones, favoreciendo el ahorro y la inversión y, en última instancia, el crecimiento económico. 
                    </p>
                    <h2>B. Fórmula de cálculo del indicador</h2>
                    <p></p>
                    <h2>C. Periodicidad de cálculo del indicador</h2>
                    <p></p>
                    <h2>D. Gráfico lineal con el comportamiento histórico de los últimos 2 años</h2>
                    <p>
                        @foreach (var item in Request.Params.AllKeys)
                        {
                            @ViewBag.FechaInicio
                            @ViewBag.Valor
                            <br />
                        }
                    </p>
                    <h2>
                        E. Explicación del impacto que podría tener para los costarricenses las
                        fluctuaciones a la baja o a la alza de dicho indicador
                    </h2>
                    <p>Si la tasa política monetaria sube, los intermediarios trasladarán ese costo a los consumidores cuando pidan crédito. 
                    En buena teoría, al ver tasas más altas, las personas desistirían de pedir financiamiento y así se redice el dinero circulante 
                    y por ende la inflación. </p>
                </div>
            </div>
        </div>
    </section>

</body>
<!-- Scripts -->
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.scrollex.min.js"></script>
<script src="~/Scripts/skel.min.js"></script>
<script src="~/Scripts/util.js"></script>
<script src="~/Scripts/main.js"></script>
</html>
