.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
    max-width: inherit;
}

.contenedor .img-01 {
    width: 100%;
    height: 50%;
}

.texto-flotante {
    position: absolute;
    top: 100px;
    left: 50px;
    color: white;
    font-size: 60px;
}
